@charset "utf-8";
/* CSS Document */
body{ margin:0; padding:0; width:100%; height:100%; font-size:12px; line-height:1.5; color:#666; font-family:"宋体","Arial";}
*{ margin:0; padding:0;}

ul,li{ list-style-type:none;}
img{ border:none;}

.red{ color:#cc0000;}
.redv{ color:#cc0000;}
a.redv:link{ color:#cc0000;}
.redbold{color:#cc0000; font-weight:bold; }
.orange{ color:#F60;}
.gray{ color:#555;}
.gray1{ color:#bbb;}
.green{ color:#008800;}


.blue_tb2 th{ text-align:center;}
.blue{ color:#005ea7;}
.redht{ font-family:"微软雅黑","Arial"; font-size:18px; color:#cc0000; font-weight:bold; }
.bigblue{ font-size:14px; font-weight:bold; color:#005ea7;}

.tab_r{ text-align:right;}

.selectarea{ color:#666; padding-left:2px; font-size:12px;  height:22px; line-height:22px; border:1px solid #dcdcdc; width:100px; margin-right:0px;}
.shangpinkjdd{   margin:0 auto; } 


table,td
  {
  border-collapse:collapse;
  }

td,th{ text-align:center;}


a{ text-decoration:none; color:#666666;}
a:link{ color:#666; }
a:hover{ color:#ff6600; text-decoration:underline;}





/*首页TOP下拉效果*/
blockquote {PADDING: 0px;MARGIN: 0px;}


.MutiNav {font-size:12px;color:#666;
	background-image: url(nav.png);
	background-repeat: repeat-x;
	background-position: left top;}
.MutiNav A {TEXT-DECORATION: none}
.multiUl { width:100%; height:28px; CLEAR: both; display:block;}
.multiUl LI {display:block; float:left; width:75px; height:28px; LINE-HEIGHT: 28px; POSITION: relative; background: 65px center url(../images/xiaojtou.jpg) no-repeat; padding-right:5px;}
.multiUl LI A.go {
	PADDING-RIGHT: 4px; DISPLAY: inline-block; PADDING-LEFT: 5px; Z-INDEX: 300; PADDING-BOTTOM: 0px; MARGIN: 0px 7px; WIDTH: auto; COLOR: #666; LINE-HEIGHT: 28px; PADDING-TOP: 0px; HEIGHT: 28px; TEXT-ALIGN: center;}
.multiUl LI A.on {
	FONT-WEIGHT: bold; COLOR: #dfe8d9; TEXT-DECORATION: none
}



.multiUl LI BLOCKQUOTE {
	DISPLAY: none; Z-INDEX: 201; LEFT:0px; POSITION: absolute; TOP: 28px; HEIGHT: auto
}
.multiUl LI BLOCKQUOTE .ChildNavIn {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; background:#fff; OVERFLOW: hidden; WIDTH: 80px; COLOR: #000; PADDING-TOP: 10px; HEIGHT: auto; TEXT-ALIGN: center;
	border:solid 1px #ddd;
}
.multiUl LI BLOCKQUOTE .ChildNavIn A {
	PADDING-RIGHT: 4px; DISPLAY: inline; PADDING-LEFT: 4px; FLOAT: left; PADDING-BOTTOM: 2px; MARGIN: 3px 0px 3px 6px; WIDTH: 75%; COLOR: #666; LINE-HEIGHT: 18px; PADDING-TOP: 2px; BORDER-BOTTOM: #ccc 1px dotted; TEXT-ALIGN: center
}
.multiUl LI BLOCKQUOTE A:hover {
	BACKGROUND: #1b81c3;  COLOR: #fefbc2! important
}







/*容器内容*/
#containe{ width:100%; height:120px;  background:url(../images/top_bg.jpg) repeat-x; }



/*头部内容*/
#top{ width:1000px;  margin:0 auto; height:28px; line-height::28px; color:#666666;}

.fl_left{ width:500px; height:28px; line-height:28px; float:left; }
.top_list { width:403px; height:28px; float:right;}
.top_list  select{  width:80px;}

#top2{ width:1000px; height:65px;  margin:0 auto; padding-top:25px; }





#ss { background-image: url(../images/ss_bg.jpg); background-repeat: no-repeat; height: 47px; width: 404px; float: right; margin:14px 5px 0px 0px; padding:6px 0px 0px 0px; }
.ss_nr{ width:290px; height:26px; line-height:26px; margin:2px 0px 0px 33px ; border:0px; background:none; border:0px;}  
.ss_nr1{ width:170px; height:22px; color:#464646; line-height:22px; border: solid 1px #ccc; background:#fff; width:221px;padding-left:5px; } 

.ss_btn{ width: 57px; height: 30px; background: url(../images/btn_ss.jpg); background-repeat: no-repeat; border:none;}







/*导航条*/
#nav ul li { float: left; height: 49px; width: 121px; font-size:14px; font-weight:bold; }

#nav ul li a { background-image: url(../images/nav01_1.jpg); background-repeat: no-repeat; display: block; height: 29px; width: 91px; color:#ffffff; padding-top:20px; padding-left:30px;}
#nav ul li a:hover { background-image: url(../images/nav01_4.jpg); background-repeat: no-repeat; color:#fff; text-decoration:none;}

#nav ul li .zh{ background:url(../images/nav01_2.jpg) no-repeat; color:#666;}
#nav ul li .zh:hover{ background:url(../images/nav01_2.jpg) no-repeat; color:#666;}



#nav_bg{ width:100%; height:49px; background:url(../images/navbg.jpg) repeat-x; }
#nav{ width:1000px; height:49px;  margin:0 auto; }

.xiaoxi{ width: 277px; height: 23px; line-height: 23px; float: left; margin: 19px 0px 0px 140px; border: solid 1px #ffcc99; background-color: #ffffcc; background-image: url(../images/xiaox.jpg); background-repeat: no-repeat; background-position: 10px center; text-indent: 25px; }
#gwc{ float: right; background-image: url(../images/gouwuche.jpg); background-repeat: no-repeat; background-position: left top; height: 32px; width: 112px; margin:12px 0px 0px 10px; font-weight:bold; padding:5px 0px 0px 70px;}





/*content内容*/
#content_bg{ width:100%; height:auto; background:url(../images/contentbg.jpg) repeat-x; overflow:auto; }
#content1{ height:auto;  padding-top:15px; background:none; overflow:hidden; }


/*头部内容*/
#content1{ width:1000px; margin:0 auto; }



/*菜单部分*/
.sdmenu {
    width:195px; font-size:12px; color:#333; padding-left:5px;
	background:url(../images/list_mid.jpg) repeat-y; overflow:hidden;
}
.sdmenu div {
	overflow: hidden;float:left; width:185px;
}
.sdmenu div span {
	display: block;line-height:32px;width:188px; font-weight: bold; color:#666; cursor: pointer; 
}
.sdmenu div span a{
    padding:0; border:0; font-size:14px;  line-height:32px;  display:block;
	
}


/*鼠标点击样式*/
.sdmenu div.collapsed {
	width:184px; color:#ccc; 
	height: 32px;
}
.sdmenu div.collapsed span{
    color:#666; line-height:32px
}
.sdmenu div.collapsed span a.current{
    color:#c00;
}
/*鼠标滑过样式*/
.sdmenu div a {
	padding-left:44px;display: block; color: #666; 
    background: 21px center url(../images/listbg01.jpg) no-repeat; line-height:27px; 
	margin-top:2px;
	margin-bottom:2px;
}
.sdmenu div a:hover {
	background: left center url(../images/listbg03.jpg) no-repeat;  text-decoration: none; color:#666;
}




.sdmenu div a.current {  
	  color:#666;
	  background: left center url(../images/listbg02.jpg) no-repeat;  text-decoration: none; color:#d46a20;
  
}
/*折叠菜单*/
#left{ width: 201px;  float:left; overflow:auto; margin-bottom:10px; }


#left_top{ height:12px; background-image: url(../images/list_top.jpg); background-repeat: no-repeat; background-position: left top; }



#left_con{ height:810px; background:url(../images/list_mid.jpg) repeat-y; }
.left_ny h1 { font-size: 14px; font-weight: bold; text-indent: 30px; }


.leftul{ width: 92%; margin: 8px 0px 20px 8px; border-bottom-width: 1px; border-bottom-style: dashed; border-bottom-color: #ffcea3; padding-bottom:15px; }
.leftul li { line-height: 27px; height: 27px; text-indent: 32px; background-image: url(../images/listbg01.jpg); background-repeat: no-repeat; background-position: 21px 10px; }
.leftul li a { display:block; color:#333333; }
.leftul li a:hover{ background:url(../images/listbg02.jpg) no-repeat; text-decoration:none; color:#d2691e;}


.fh1{ background:10px 8px url(../images/fh01.gif) no-repeat; text-indent:30px; font-size:14px; }
.fh2{ background:10px 8px url(../images/fh02.gif) no-repeat; text-indent:30px; font-size:14px; }
.fh3{ background:10px 8px url(../images/fh03.gif) no-repeat; text-indent:30px; font-size:14px; }
.fh4{ background:10px 8px url(../images/fh04.gif) no-repeat; text-indent:30px; font-size:14px;  }

.fh1 a{ padding:0; background:none; border:0; font-size:14px;display:block; }


.fh5{ background:10px 8px url(../images/fh05.gif) no-repeat; text-indent:30px; font-size:14px;  }
.fh6{ background:10px 8px url(../images/fh06.gif) no-repeat; text-indent:30px; font-size:14px;  }
.fh7{ background:10px 8px url(../images/fh07.gif) no-repeat; text-indent:30px; font-size:14px;  }
.fh8{ background:10px 8px url(../images/fh08.gif) no-repeat; text-indent:30px; font-size:14px;  }
.fh9{ background:10px 8px url(../images/fh09.gif) no-repeat; text-indent:30px; font-size:14px;  }
.fh10{ background:10px 8px url(../images/fh10.gif) no-repeat; text-indent:30px; font-size:14px;  }
.fh11{ background:10px 8px url(../images/fh11.gif) no-repeat; text-indent:30px; font-size:14px;  }
.fh12{ background:10px 8px url(../images/fh12.gif) no-repeat; text-indent:30px; font-size:14px;  }
.fh13{ background:10px 8px url(../images/fh13.gif) no-repeat; text-indent:30px; font-size:14px;  }


#left_bot{ width:201px; height:12px; background:url(../images/list_bot.jpg) no-repeat; background-position: left top; }




/*right内容*/
.ifr_right{ width: 794px; float:right; }



/*footer内容*/
.foot_bg{ width:100%; height:auto; background:url(../images/footerbg.jpg) repeat-x;  display:block;  }
.foot_bg{ position:absolute; height:100px; width:100%; bottom:0; _position:relative;}
#footer{ width:1000px; overflow:auto; margin:0 auto; padding-top:25px; }

#footer p { text-align: center; height: 24px; line-height:24px; width:100%;}
#bz{ padding:5px 0px 0px 275px; }

.lmf_cot{ color:#c0c0c0; text-align:center;}
.lmf_cot a{ color:#736f63; display:inline-block; padding:0 5px;}
.lmf_cop{ padding-top:5px; font-family:"Arial"; color:#736f63; text-align:center;}

/*------------------会员中心main框架------------------*/
.right_mian{ width:793px;  }
.wel{ width:600px; height:179px; float:left; margin-right:9px; background:url(../images/welbg.jpg) repeat-x; border:solid 1px #fbdaa6;}

.notice{ width:179px; height:179px; float:right; border:solid 1px #d3d3d3; background: center bottom url(../images/noticebg.jpg) no-repeat; background-color:#fff; margin-bottom:10px;}
.notice h1 ,.weiwc h1 { background-image: url(../images/notbg.jpg); background-repeat: repeat-x; height: 29px; line-height:29px; font-size:14px; font-weight:bold; color:#444; padding-left:10px;}
.notice ul { margin:6px 0px 0px 8px; line-height:200%;}


.pro{width:789px; height:238px; float:left;  border:solid 1px #fbdaa6; margin-bottom:10px;}
.weiwc{ width:600px; padding-bottom:15px; overflow:hidden; float:left; border:solid 1px #d3d3d3; margin-top:10px;}

.weiwc table tr th { background-color:#fef5ee; height:34px; line-height:34px; border-bottom:solid 1px #fbdaa6;}
.weiwc table tr td { text-align:center; border-bottom:dashed 1px #dcdcdc;}

.wel_right { width:450px; float:left; padding:20px 0px 0px 0px; }
.wel_right1 { width:540px; float:left; padding:20px 0px 0px 30px; }

.ord_all{ float:right; padding-right:8px; font-size:12px; font-weight:normal; }




.admin{ width:120px; float:left; padding:20px 0px 0px 23px;}
.adm{ width:100px;}
.adm dd { text-align:center; }




/*------------------会员中心店铺收藏框架------------------*/

.dpsc_mian{ width:781px;  border:solid 1px #cccccc; background:#fff; padding-bottom:20px; }
.ptitle{ height:30px; line-height:30px; border-bottom:solid 1px #cccccc; padding-left:15px; }
.ptitle1{ height:30px; line-height:30px; border-bottom:solid 1px #dfdfdf; padding-left:15px;  background: 710px 4px url(../images/tjdz.jpg) no-repeat;  }


.ordmain{ width:780px; border-left: solid 1px #cccccc; border-right:solid 1px #cccccc; border-bottom:solid 1px #cccccc; background:#fff; }




.spanrig{ float:right; padding-right:10px; padding-top:3px;}
.adz{ width:50px; height:20px; line-height:20px;display:block; color:#fff; margin:4px 10px 0px 0px; padding:0px 0px 0px 20px;}

a.adz:link{ color:#fff; text-decoration:none;}
a.adz:hover{ color:#ffeac7; text-decoration:none;}


.blue_tb{  width:100%; margin:0 auto; margin-top:10px; }
.blue_tb tr th{ border-top:solid 1px #c6dfff; border-bottom:solid 1px #c6dfff; height:30px; line-height:30px; background:#f6faff; font-weight:normal;}
.blue_tb tr td{text-align:center; height:80px; line-height:80px; border-bottom:solid 1px #e0e0e0; border-right:solid 1px #e0e0e0;}
.tb_left{ border-left:solid 1px #e0e0e0;}
.tb_right{ border-right:solid 1px #e0e0e0;}


.blue_tbdd{  width:777px;; margin:0 auto; margin-top:10px; }
.blue_tbdd tr th{ border-top:solid 1px #c6dfff; border-bottom:solid 1px #c6dfff; height:30px; font-family:"微软雅黑"; font-weight:bold; line-height:30px; font-weight:normal; background:url(../images/biaotbg.jpg) repeat-x; }
.blue_tbdd tr td{text-align:center; height:80px; line-height:80px; border-bottom:solid 1px #e0e0e0; border-right:solid 1px #e0e0e0;}

.blue_tbdd1{  width:778px;; margin:0 auto; margin-top:10px; }
.blue_tbdd1 tr th{ border-top:solid 1px #c6dfff; border-bottom:solid 1px #c6dfff; height:30px; line-height:30px; background:#f6faff; font-weight:normal;}
.blue_tbdd1 tr td{text-align:center; height:80px; line-height:80px; border-bottom:solid 1px #e0e0e0; border-right:solid 1px #e0e0e0;}



.shanc{ width:78px; height:26px; line-height:26px; float:left; padding-left:6px; padding-top:2px;}
.shanc2{ width:60px; height:26px; float:left; padding-left:6px; padding-top:2px;}
.shanc5{ width:88px; height:26px; float:left; padding-left:6px; padding-top:2px; }

.fy{height:26px; float:right; padding-top:2px;}
 

.shanc1{ width:60px; height:26px; float:left; padding-left:5px; padding-top:2px;}




a.afy{ display:block; width:22px; height:22px; line-height:22px; text-decoration:none; float:left; margin-right:5px;  border:solid 1px #ccc;}
a.afy:link{ color:#999;}
a.afy:hover{ color:#F60; border:solid 1px #F60;}


a.afy1{ display:block; width:21px; height:16px; padding:6px 0px 0px 1px; line-height:22px; text-decoration:none; float:left; margin-right:5px;  border:solid 1px #ccc;}
a.afy1:link{ color:#999;}
a.afy1:hover{ color:#F60; border:solid 1px #F60;}


.spanfy{ float:left; height:24px; line-height:24px; display:block; }
.xwb{ width:45px; height:20px; line-height:20px; border:solid 1px #ccc;}
.qudbtn{ float:left; height:24px; line-height:24px; width:70px; background:url(../images/btnx.jpg) no-repeat;}







/*------------------会员中心--卖家中心框架------------------*/
.jianjie{width:791px; height:180px; float:left;  border:solid 1px #fbdaa6; margin-bottom:10px; padding-top:16px;}


.dianputs{ width:601px; height:172px; float:left; border:solid 1px #d3d3d3; background-color:#fff; margin-bottom:10px; margin-right:10px;}
.dianputs h1{ background-image: url(../images/notbg.jpg); background-repeat: repeat-x; height: 31px; line-height:31px; font-size:14px; font-weight:bold; color:#444; padding-left:10px;}



.notice1{ width:178px; height:172px; float:left; border:solid 1px #d3d3d3; background-color:#fff; margin-bottom:10px;}
.notice1 h1{ background-image: url(../images/notbg.jpg); background-repeat: repeat-x; height: 31px; line-height:31px; font-size:14px; font-weight:bold; color:#444; padding-left:10px;}
.notice1 ul { margin:6px 0px 0px 8px; line-height:200%;}


.jyts{ width:791px; height:172px; float:left; border:solid 1px #d3d3d3; margin-bottom:10px; }
.jyts h1{ background-image: url(../images/notbg.jpg); background-repeat: repeat-x; height: 31px; line-height:31px; font-size:14px; font-weight:bold; color:#444; padding-left:10px;}


.admin1{ width:140px; height:140px; float:left; padding:10px 15px 0px 15px;}
.jjnr{ width:400px; height:150px; float:left; padding-top:6px;}
.jjnr p{ height:26px; line-height:26px;}

 
.dppf{ width:204px; height:166px; float:left; background:url(../images/dppfpic.jpg) no-repeat; }
.dppf h1{ font-size:12px; color:#d2691e; height:40px; line-height:40px; padding-left:20px;}

.dppf table { margin-left:20px; line-height:230%;}
.dppf table tr td img{float:left; padding-left:1px;}

.pad{ padding:10px 8px 10px 8px;}
.pad_ny{ padding:20px 10px 20px 10px;}

.dianpqk{ border:solid 1px #ffe8c2; background:#fefeda;}

.pad1{ padding:10px 15px 10px 15px;}

/*right内容*/
.right{ width: 793px; height: 860px; float:right; }
.ordmain{ width:775px; padding:0 8px; padding-bottom:20px; border-left: solid 1px #cccccc; border-right:solid 1px #cccccc; border-bottom:solid 1px #cccccc; background:#fff;}
.ordmain1{ width:775px; padding:0 8px; background:#fff;}

/*------------------滑动门按钮样式------------------*/
#list_main ul#sidebar{
	
	height:37px;
	line-height:37px;
	margin:0 auto;
	padding-top:20px;
	border-bottom:1px solid #ffcea3;
	margin:0px 6px 0px 6px;

	
	}

#list_main ul#sidebar li{
	
	float:left;
	width:100px;
	padding-top:2px;
	height:36px;
	background:url(../images/libg1.jpg) no-repeat;
	margin-left:5px;
	text-align:center;
	color:#666;
	cursor:pointer;
	}

#list_main #sidebar .TabbedPanelsTab{
	background:url(../images/libg1.jpg) no-repeat;
	
}
#list_main #sidebar .TabbedPanelsTabSelected {
	background:url(../images/libg.jpg) no-repeat;
	color:#d2691e;
	font-size:14px;
	font-weight:bold;

}



.tabbiao{ margin:25px 0px 30px 0px;}
.tabbiao tr td{ height:36px; line-height:36px;}


.tabbiaoduo{ margin:10px 0px 30px 0px;}
.tabbiaoduo tr td{ height:42px; line-height:42px;}


.biaodhd{  width:97%; margin:0 auto; margin-top:25px; }
.biaodhd tr th{ border-top:solid 1px #c6dfff; border-bottom:solid 1px #c6dfff; border-left:solid 1px #c6dfff; height:30px; line-height:30px; background:#f6faff; font-weight:normal; color:#005ea7; text-align:center; }
.biaodhd tr td{ height:40px; line-height:40px; text-align:center; border-left:solid 1px #e9e9e9; border-bottom:solid 1px #e9e9e9; }

.thbord{ border-right:solid 1px #c6dfff;}
.tdbord{ border-right:solid 1px #e9e9e9;}



.biaodhd1{  width:97%; margin:0 auto; margin-top:25px; }
.biaodhd1 tr th{ border-top:solid 1px #e9e9e9; border-bottom:solid 1px #e9e9e9; border-left:solid 1px #e9e9e9; height:30px; line-height:30px; font-weight:normal; color:#666; text-align:center; background:url(../images/czthbg.jpg) repeat-x; }
.biaodhd1 tr td{ height:40px; line-height:40px; text-align:center; border-left:solid 1px #e9e9e9; border-bottom:solid 1px #e9e9e9; }


.dpsc_mian1{ width:791px; border:solid 1px #cccccc; background:#fff;}




/*------------------滑动门按钮样式------------------*/
ul.sidebar{
	
	height:38px;
	line-height:38px;
	_height:36px;
	_line-height:36px;
	margin:0 auto;
	margin:0px 0px 0px 0px;
    border-bottom:1px solid #ffcea3;

	
	
	}

ul.sidebar li{
	
	float:left;
	width:96px;
	padding-top:2px;
	height:38px;
	background:url(../images/libg01.gif) no-repeat;
	margin-left:0px;
	text-align:center;
	color:#666;
	cursor:pointer;
	_height:35px;
	line-height:44px;
	_line-height:35px;
	margin-right:2px;
	}

.sidebar .TabbedPanelsTab{
	background:url(../images/libg01.gif) no-repeat;
	
}
.sidebar .TabbedPanelsTab a:hover
{
	text-decoration:none;
	color:#D2691E;
	
}
.sidebar .TabbedPanelsTabSelected {
	background:url(../images/libg0.gif) no-repeat;
	color:#d2691e;
	font-size:14px;
	font-weight:bold;
	line-height:40px;_line-height:35px;

}

.sidebar .TabbedPanelsTabSelected a {

	color:#D2691E;


}
.sidebar .TabbedPanelsTabSelected a:hover{ text-decoration:none;}





/*拷贝其他CSS样式表*/

/*------------------滑动门按钮样式------------------*/
#list_main ul#sidebar{
	
	height:37px;
	line-height:37px;
	margin:0 auto;
	padding-top:20px;
	border-bottom:1px solid #ffcea3;
	margin:0px 6px 0px 6px;

	
	}

#list_main ul#sidebar li{
	
	float:left;
	width:100px;
	padding-top:2px;
	height:36px;
	line-height:40px;
	_line-height:37px;
	background:url(../images/libg1.jpg) no-repeat;
	margin-left:5px;
	text-align:center;
	color:#666;
	cursor:pointer;
	}

#list_main #sidebar .TabbedPanelsTab{
	background:url(../images/libg1.jpg) no-repeat;
	_position:relative;
	_top:2px;
}
#list_main #sidebar .TabbedPanelsTab a:hover{ text-decoration:none;color:#D2691E;}
#list_main #sidebar .TabbedPanelsTabSelected {
	background:url(../images/libg.jpg) no-repeat;
	color:#d2691e;
	font-size:14px;
	font-weight:bold;
	display:block;
	_position:relative;
	_top:2px;
}
#list_main #sidebar .TabbedPanelsTabSelected a{ color:#D2691E;}
#list_main #sidebar .TabbedPanelsTabSelected a:hover{ text-decoration:none;}

#list_main #sidebar .TabbedPanelsTabHover {
	background:url(../images/libg2.jpg) no-repeat;

	font-size:12px;
	font-weight:bold;

}
/*------------------index-------------------------*/
.current {  
	  color:#666;
	  background: left center url(../images/listbg02.jpg) no-repeat;  text-decoration: none; color:#d46a20;
  
}

.lmf_submenu{ border-bottom:1px #fee6d1 dashed; margin-bottom:4px; padding-bottom:8px;}
.lmf_submenu1{ border:none;}
.fh{ display:block; padding-left:5px; font-family:"微软雅黑"; font-size:15px;}
.sdmenu div a{padding-left:36px;}
.sdmenu div a:hover{ color:#005ea7;}
.sdmenu div a.current {  
	  color:#666;
	  background: left center url(../images/listbg02.jpg) no-repeat;  text-decoration: none; color:#d46a20;
  
}

#nav ul li .zh { color:#005ea7;}
#top2{padding-top:20px; height:70px;}
/*--搜索框Search--*/
.lmf_searchs{ width:401px; height:44px; float:right; margin-top:10px;}
.lmf_search{background:url(../images/search_bg.jpg) 0 0 no-repeat; position:relative;width:401px; height:44px;}
.lmf_search_text{ width:280px; padding:12px 10px 5px 35px; position:relative;}
.lmf_nr{ display:block; width:100%; height:18px; line-height:18px; color:#999999; border:none;}
.lmf_search_btn{ position:absolute; right:8px; width:58px; height:31px; top:5px;}
.lmf_search_btn a{ display:block; background:none;}
.lmf_search_btn a:hover{ display:block; opacity: 0.08; filter: alpha(opacity=8);}
.lmf_btnss{ cursor:pointer; border:none; background:none; width:58px; height:31px; overflow:hidden; text-indent:-999px; display:block;}
.fl{ float:left;}
.top_buyer{background: url("../images/lmft_line.jpg") no-repeat right 7px; color: #666666; height: 24px; line-height: 20px; padding: 0 5px 0 5px; text-align: center; width: 71px; position:relative;}
.top_hert{background: url("../images/lmft_line.jpg") no-repeat right 7px; color: #666666; height: 24px; line-height: 20px; padding: 0 5px 0 5px; text-align: center; width: 71px; position:relative;}
.top_mer{background: url("../images/lmft_line.jpg") no-repeat right 7px; color: #666666; height: 24px; line-height: 20px; padding: 0 5px 0 4px; text-align: center; width: 57px; position:relative;}
.top_help{ color: #666666; height: 24px; line-height: 20px; padding: 0 5px 0 4px; text-align: center; width: 57px; position:relative;}
.top_buyer .top_a{background: url("../images/xiaojtou.jpg") no-repeat right 4px; display:block;padding:1px 14px 1px 4px;margin-right:2px; margin-top:3px; height:30px;}
.top_hert .top_a{background: url("../images/xiaojtou.jpg") no-repeat right 4px; display:block;padding:1px 14px 1px 4px;margin-right:2px; margin-top:3px; height:30px;}
.allsort .sub_customer{ display:none;}
.top_a1{display:block;padding:1px 1px 1px 1px; margin-top:3px;}
.sub_customer{ border:1px #dddddd solid; border-top:none; position:absolute; background:#ffffff; width:80px; top:29px; z-index:1000; padding-top:6px; padding-bottom:10px; left:5px;}
.sub_customer a{ display:block; background:#ffffff; text-align:left; color:#666666; padding-left:10px;}
.sub_customer a:hover{ color:#005ea7;}
.allsorthover .sub_customer{ display:block;}
.allsorthover .top_a{ background:#ffffff url("../images/xiaojtous.jpg") no-repeat right 1px; border:1px solid #dddddd; border-bottom:none; padding:0 9px 1px 0;}
.top_list{ width:auto;}
#nav{ width:1014px;}
#gwc{ width:115px; font-size:15px; font-family:"微软雅黑"; padding:7px 0 0 65px; height:30px;}
#nav ul li a{ font-family:"微软雅黑"; font-size:15px; line-height:20px;}
.xiaoxi{ line-height:23px; text-indent:30px;}
.lmf_cot{ color:#c0c0c0; text-align:center;}
.lmf_cot a{ color:#736f63; display:inline-block; padding:0 5px;}
.lmf_cot a:hover{ color:#005ea7;}
.lmf_cop{ padding-top:5px; font-family:"Arial"; color:#736f63; text-align:center;}
.lmf_cop a{ color:#005ea7; text-decoration:underline;}
.lmf_cop a:hover{ color:#ff6600; text-decoration:underline;}
.lmf_bimg{ padding-top:15px; text-align:center;}
.lmf_bimg img{ display:inline-block; padding:0 8px; cursor:pointer;}
#containe_bg{ position:relative; min-height:100%;width:100%;  background:url(../images/top_bg.jpg) repeat-x; min-width:1100px;}
#content_bg{ padding-bottom:116px;_padding-bottom:10px;zoom:1; overflow:hidden;}

html{ height:100%;}
#left{ margin-bottom:0;}
.weiwc{margin-bottom:0; width:601px; height:auto; margin-top:10px;}
#top{ position:relative; z-index:22;}
body a{outline:none;blr:expression(this.onFocus=this.blur());}
#gwc{margin-top:12px;}






/*--------------------树形目录样式---------------------*/

.dtree{margin:0px;padding:1px 0 0 5px;font-family:"宋体",Verdana,Geneva,Arial;font-size:12px;color:#666;white-space:nowrap; }
.dtree img{border: 0px;vertical-align: middle; }
.dtree a,.leejon a{color: #333;text-decoration: none;}
.dtree a.node,.dtree a.nodeSel{white-space: nowrap;padding: 1px 2px 1px 2px; }
.dtree a.node:hover,.dtree a.nodeSel:hover,.leejon a:hover{color:#FF9900;font-weight:bold;text-decoration:underline;}
.dtree a.nodeSel{background-color:#d5f0f2;font-weight:bold;}
.dtree .clip{overflow: hidden;}









/*-----列表头立体-----*/
.biaodhd1{  width:100%; margin:0 auto; margin-top:25px; }
.biaodhd1 tr th{ border-top:solid 1px #e3e3e3; border-bottom:solid 1px #e3e3e3;  font-family:"微软雅黑"; font-weight:bold; border-left:solid 1px #e3e3e3; height:30px; line-height:30px; font-weight:normal; color:#666; text-align:center; background:url(../images/czthbg.jpg) repeat-x; }
.biaodhd1 tr td{ height:40px; line-height:40px; text-align:center; border-left:solid 1px #e3e3e3; border-bottom:solid 1px #e3e3e3; }




.blue_tbw{ margin:0 auto; margin-top:8px; margin-bottom:0;}
.blue_tbw tr th{ border:solid 1px #e3e3e3; font-family:"微软雅黑";  font-weight:bold; height:30px; line-height:30px; background:url(../images/czthbg.jpg) repeat-x;  font-weight:normal; text-align:center;}
.blue_tbw tr td{text-align:center; height:30px; line-height:30px; border-bottom:solid 1px #e3e3e3;  padding:10px;}
.boright{ border-right:solid 1px #e3e3e3; }

.th_le1{ border-left:solid 1px #e3e3e3;}
.th_ri1{ border-right:solid 1px #e3e3e3;}





.blue_tb1{ margin:0 auto; margin-top:8px; margin-bottom:8px; background:#e3e3e3;}
.blue_tb1 tr th{ height:30px; line-height:30px; background:url(../images/czthbg.jpg) repeat-x;}
.blue_tb1 tr td{text-align:center; line-height:18px; padding:10px; background:#ffffff;}



.dind_l{ border-left:solid 1px #e0e0e0;}
.dind_r{ border-right:solid 1px #e0e0e0;}



.btntab_xk{ border-left:solid 1px #e0e0e0;}





/*---------按钮------------*/
.shanc{ width:80px; height:26px; float:left; padding-left:8px; padding-top:2px;}
.shanchu{ background:url(../images/mbtn2.jpg) no-repeat; width:76px; cursor:pointer; text-align:center; }
.shanchu21{ background:url(../images/mbtn21.jpg) no-repeat; width:98px; cursor:pointer; text-align:center; }
.tianjiafl{background:url(../images/addbtn.jpg) no-repeat;  width:75px; cursor:pointer; }
.tianjiafl2{background:url(../images/addbtn1.jpg) no-repeat;  width:55px; cursor:pointer; }
.backupbtn{  background:url(../images/backup.jpg)  no-repeat;  width:101px;}

.shangcutp{ background:url(../images/shagnch.jpg) no-repeat; width:76px; cursor:pointer; }
.baocpx{ background:url(../images/baoctj.jpg) no-repeat; width:76px; cursor:pointer; }


.shangj{background:url(../images/shangjia.jpg) no-repeat;  width:55px; cursor:pointer; }
.xiaj{background:url(../images/xiajia.jpg) no-repeat;  width:55px; cursor:pointer; }


a.lmf_btn{ height:24px; line-height:24px; display:block; _line-height:26px; text-decoration:none; padding-left:8px; }
a.lmf_btn span{ padding-left:20px; display:block;}
a.lmf_btn:hover{ text-decoration:none; color:#888;  }


.dele{ width:52px; height:24px; line-height:24px; font-size:12px; color:#333; border:none; text-align:center; margin-right:5px; cursor:pointer;  background:url(../images/btnx.jpg) no-repeat;}
.chax{ width:45px; height:24px; line-height:24px; font-size:12px; color:#fff; border:none; text-align:center; margin-right:10px; cursor:pointer;  background:url(../images/chaxbtn.jpg) no-repeat; }
.chaxx{ width:76px; height:30px; line-height:24px; font-size:12px; color:#fff; border:none;border-radius: 3px; text-align:center; margin-right:10px; cursor:pointer;  background:url(../images/nav01_4.jpg) no-repeat; }
.selpic{  text-align:center; background:url(../images/selpic.jpg)  no-repeat; color:#333;  font-size:12px; width:75px; height:24px; line-height:24px; border:none;  cursor:pointer;}
.baocbtn{ text-align:center; background:url(../images/baocbtn.jpg)  no-repeat; color:#fff; font-weight:bold; font-size:14px; width:72px; height:30px; line-height:30px; border:none;  cursor:pointer;}

.querbtn{ text-align:center; background:url(../images/querbg.jpg)  no-repeat; color:#fff; font-weight:bold; font-size:14px; width:92px; height:30px; line-height:30px; border:none;  cursor:pointer;}
.dianpbz{ width:84px; height:20px; line-height:20px; font-size:12px; color:#fff; border:none; text-align:center; margin-right:10px; cursor:pointer;  background:url(../images/dianpubz.jpg) no-repeat;}

.chakanpl{ background:url(../images/picbtn_28.jpg) no-repeat; width:76px; cursor:pointer; }

.sqjdbzj{ text-align:center; background:url(../images/chang_btn.jpg)  no-repeat; color:#333; font-size:12px; width:97px; height:28px; line-height:28px; border:none;  cursor:pointer;}
.sqjdbzj1{ text-align:center; background:url(../images/chang_btn1.jpg)  no-repeat; color:#333; font-size:12px; width:115px; height:28px; line-height:28px; border:none;  cursor:pointer;}
.bji{background:url(../images/picbtn01.gif) no-repeat;  width:57px; cursor:pointer; }


.hfliuyan{background:url(../images/liuyan.jpg) no-repeat;  width:101px; cursor:pointer; }

.quanbzk{background:url(../images/picbtn09.gif) no-repeat;  width:76px; cursor:pointer; }

.xiazzip{ width:144px; height:28px; line-height:28px; font-size:12px; color:#333; border:none; text-align:center; margin-right:10px; cursor:pointer;  background:url(../images/szym_chang.jpg) no-repeat;}
.woyaots{ background:url(../images/picbtn_42.jpg) no-repeat; width:76px; cursor:pointer; text-align:center; }

/*------------------没有数据样式------------------*/
.no_datas{ width:100%; text-align:center; padding:10px 0; overflow:hidden;}
.no_data{background:url(../images/zhuyi.jpg) no-repeat; padding-left:60px; display:block; height:51px; line-height:51px; font-size:15px; font-weight:bold; color:#ff6600; font-family:"微软雅黑"; margin:0 auto; float:left; margin-left:300px;_margin-left:140px;}

/*------------------分页样式------------------*/
.fy{  height:26px; float:right; padding-top:2px; margin-right:6px;}
a.afy{ margin-top:1px; display:block; width:20px; height:20px; line-height:20px; text-decoration:none; float:left; margin-right:5px;  border:solid 1px #ccc; background:#ffffff; text-align:center;}

a.afy:hover{ color:#F60; border:solid 1px #F60; background:#FFEEE6;}

.page_1 span{ float:left; line-height:18px; font-weight:bold; font-family:"Arial"; display:block; padding-right:4px;}
a.afy1{margin-top:1px; display:block; width:20px; height:15px; padding:5px 0px 0px 1px; line-height:20px; text-decoration:none; float:left; margin-right:5px;  border:solid 1px #ccc; background:#ffffff; text-align:center;}
a.afy1:link{ color:#999;}
a.afy1:hover{ color:#F60; border:solid 1px #F60;}
a.afy011{margin-top:1px; display:block; width:20px; text-align:center; height:20px; line-height:20px; text-decoration:none; float:left; margin-right:5px; background:#FFEEE6;  border:solid 1px #F60; color:#F60; text-align:center;}
a.afy011:link{ color:#F60; border:solid 1px #F60;}
a.afy011:hover{ color:#F60; border:solid 1px #F60;}
a.afy011:visited{ color:#F60; border:solid 1px #F60;}
.page_3{ display:block; float:left; margin:0 5px;}
.page_4{ display:block; float:left; height: 24px; line-height: 24px;}
.qudbtn{width:52px; height:24px; line-height:24px; font-size:12px; color:#333; border:none; text-align:center; margin-right:5px; cursor:pointer;  background:url(../images/btnx.jpg) no-repeat;float:left; line-height:24px; height:24px;  margin-left:5px;}
.qudbtn a{ color:#666666; text-decoration:none;}
.qudbtn a:hover{ color:#666666; text-decoration:none;}
.spanfy{ float:left; height:24px; line-height:24px; display:block; }
.xwb{ width:35px; height:20px; line-height:20px; border:solid 1px #ccc; text-align:center; color:#464646; display:inline-block; margin-top:1px;}

/*------------------列表页条件框样式------------------*/
.pad{ padding:18px 0px 6px 0px;_padding-left:20px;}
*+html .pad{ padding-left:20px;}
.lineh{ margin-top:4px; padding-left:20px; }
.up_spac{ height:38px; line-height:38px;}
.ss_nr1{ width:170px; height:22px; color:#464646; line-height:22px; border: solid 1px #ccc; background:#fff; width:221px;padding-left:5px; } 
.line_spac{ padding:0 5px;}
.img_spac{ padding:0 0 0 5px;}
.ss_nrduan{ width:99px; color:#464646; padding-left:5px; height:22px; line-height:22px; border: solid 1px #ccc; background:#fff url(../images/rilit.jpg) no-repeat right center; } 
.ss_nr_spac{ padding-left:50px;}
.chax{ width:45px; height:24px; line-height:24px; font-size:12px; color:#fff; border:none; text-align:center; margin-right:10px; cursor:pointer;  background:url(../images/chaxbtn.jpg) no-repeat; }
.btn_spc{ margin-left:10px;}

.tselect{  height:24px; line-height:24px; border:1px solid #cccccc; width:201px; margin-right:0px; padding:2px;}
.tselect{ color:#464646; padding-left:5px; font-size:12px; }

.tselect1{  height:24px; line-height:24px; border:1px solid #cccccc; width:120px; margin-right:0px;}
.tselect1{ color:#464646;  font-size:12px; padding:2px; padding-left:5px;}


.tselect2{  height:24px; line-height:24px; border:1px solid #cccccc; width:207px; margin-right:0px; padding:2px;}
.tselect2{ color:#464646; padding-left:5px; font-size:12px; margin-right:5px; }

/*------------------订单列表样式------------------*/
.blue_table{  width:775px; margin:0 auto; margin-top:10px; }
.blue_table tr th{ border-top:solid 1px #c6dfff; border-bottom:solid 1px #c6dfff; height:30px;  line-height:30px; background:url(../images/biaotbg.jpg) repeat-x; }
.blue_table tr td{text-align:center; height:80px; line-height:80px; border-bottom:solid 1px #e0e0e0; border-right:solid 1px #e0e0e0;}
.blue_table tr th.blue_l{border-left: solid 1px #c6dfff;}
.blue_table tr th.blue_r{border-right: solid 1px #c6dfff;}

.shangpinkjdd{   margin:0 auto; } 
.btntable_tbg{background:#f3f3f3;border:solid 1px #e0e0e0; height:30px; line-height:30px; margin-top:10px; padding:2px 0;}
.btntable_top{}
.btntable_top tr td{height:30px; line-height:30px;}
.check_td{ text-align:right;}



.blue_tbw{ margin:0 auto; margin-top:8px; margin-bottom:0; font-weight:normal;}
.blue_tbw tr th{ border:solid 1px #e3e3e3;border-left:none; border-right:none; height:30px; line-height:30px; background:url(../images/czthbg.jpg) repeat-x; font-weight:normal; }
.blue_tbw tr td{height:30px; line-height:30px; border-bottom:solid 1px #e3e3e3;  padding:10px;}
.blue_tbw tr th.th_le{ border-left:1px solid #e3e3e3; text-align:left;}
.blue_tbw tr th.th_ri{ border-right:1px solid #e3e3e3;}
.ord_check{ float:left; width:50px; text-align:center; padding-top:9px;}
.th_color{padding-right:10px; text-align:right;}
.th_color span{ color:#c90000;}

.blue_tb1{ margin-top:8px; margin-bottom:8px; background:#e3e3e3;}
.blue_tb1 tr td{text-align:center; line-height:18px; padding:10px; background:#ffffff; border:solid 1px #e3e3e3;}
.blue_tb1 tr td.rate{ text-align:center; font-weight:bold;}

/*------------------普通列表样式------------------*/
.biaogenr{ margin:25px 0px 30px 0px;}
.dpsc_mian{ width:791px;  border:solid 1px #cccccc; background:#fff; padding-bottom:30px;}
.ptitle{ height:30px; line-height:30px; border-bottom:solid 1px #cccccc; padding-left:15px; }
.ptitle1{ height:30px; line-height:30px; border-bottom:solid 1px #dfdfdf; padding-left:15px;  background: 710px 4px url(../images/tjdz.jpg) no-repeat;  }
.ptitle a{ color:#015fa7;}
.ptitle .breadcrume_icon{ display:inline-block; padding:0 5px; color:#6fabcf;}
.ptitle .breadcrume_text{ color:#666666; font-weight:bold;}

.blue_tbw1{ margin:0 auto; margin-top:8px; margin-bottom:0; font-weight:normal;}
.blue_tbw1 tr th{ border:solid 1px #e3e3e3;border-left:none; border-right:none; line-height:30px; background:url(../images/czthbg.jpg) repeat-x; font-weight:normal; }
.blue_tbw1 tr td{ line-height:1.5; border-bottom:solid 1px #e3e3e3;  padding:10px;}
.blue_tbw1 tr th.th_le{ border-left:1px solid #e3e3e3;}
.blue_tbw1 tr th.th_ri{ border-right:1px solid #e3e3e3;}
.blue_tbw1 tr td.th_le{ border-left:1px solid #e3e3e3;}
.blue_tbw1 tr td.th_ri{ border-right:1px solid #e3e3e3;}

a.shop_Name{ color:#ff6600;}
.auction a{ color:#005ea7;}
.price{ font-size:14px;}
.reviews-cnt-bd{text-align:justify;}

.blue_tb2{ margin:0 auto; margin-top:8px; margin-bottom:0; font-weight:normal;}
.blue_tb2 tr th{ border-bottom:solid 1px #e3e3e3;border-top:solid 1px #e3e3e3; height:30px; line-height:30px; background:url(../images/czthbg.jpg) repeat-x; font-weight:normal; }
.blue_tb2 tr td{line-height:1.5; border:solid 1px #e3e3e3;  padding:10px;}
.blue_tb2 tr th.th_le{ border-left:1px solid #e3e3e3;}
.blue_tb2 tr th.th_ri{ border-right:1px solid #e3e3e3;}

/*-----------添加商品------------*/
.tjsp_mian{ width:791px; border:solid 1px #cccccc; background:#fff;}

.biaod{  width:98%; margin:0 auto; margin-top:15px; }
.biaod tr th{ border-top:solid 1px #c6dfff; border-bottom:solid 1px #c6dfff; border-left:solid 1px #c6dfff; border-right:solid 1px #c6dfff; height:30px; line-height:30px; background:#f6faff;  color:#6d6d6d; text-align:left; text-indent:15px; }
.biaod tr td{ height:40px; line-height:40px;}
.bordleft{ border-left:solid 1px #c6dfff; border-bottom:solid 1px #e9e9e9; border-right:solid 1px #e9e9e9; text-align:right; padding-right:5px; width:130px;}
.bordleft1{ border-bottom:solid 1px #e9e9e9; border-right:solid 1px #e9e9e9; text-align:center; padding-right:5px;}
.bordleft2{ border-left:solid 1px #c6dfff; border-bottom:solid 1px #e9e9e9; border-right:solid 1px #e9e9e9; text-align:center; padding-right:5px;}
.bordrig{ border-right:solid 1px #c6dfff; border-bottom:solid 1px #e9e9e9; text-align:left; padding-left:10px;}

.textwb{ width:200px; height:22px; line-height:22px; border:solid 1px #ccc; color:#464646; padding-left:5px; margin:10px 0 10px; margin-right:5px; }
.textwb1{ width:450px; height:85px; line-height:18px; border:solid 1px #ccc; color:#464646; padding-left:5px; margin:10px 0 10px; margin-right:5px; }
.texttw_star{ height:18px; line-height:18px; padding-bottom:8px;}

.yuan{ width:60px; height:20px; line-height:20px; border:solid 1px #ccc;}
.bgtable{ border:solid 1px #e0e0e0; background:#f3f3f3; padding:7px; height:40px; margin:5px 0px 5px 0px;}


.textwb_ms{ width:550px; height:80px; line-height:20px; border:solid 1px #ccc; margin:5px 0px 5px 0px;}
.tdpad{ padding:15px 0px 30px 0px;}
.star{ color:#ff0000; display:inline-table; padding-left:5px; padding-right:5px; vertical-align:middle;}
.red{ color:#ff0000; display:inline-table; padding-left:5px; padding-right:5px; vertical-align:middle;}

.zf_bot{background:url(../images/zf_bot.png) repeat-x left bottom; border:1px solid #dcdcdc; height:22px; line-height:22px; color:#464646; font-size:12px; display:inline-block; padding:0 5px; margin-left:8px;}





