<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="IsOpenTransfer" value="2" />
  <add key="IsWHJDebug" value="0" />
  <add key="SuperPWD" value="#$%D#$@!%%FSVB8" />
	<add key="aspnet:MaxHttpCollectionKeys" value="5000" />
  <add key="BusinessLogic" value="ShopNum1.BusinessLogic" />
  <add key="ShopBusinessLogic" value="ShopNum1.ShopBusinessLogic" />
  <add key="MemberUrl" value="http://bb.qhtj88.com/Main/Themes/Skin_Default/Member/index.html" />
  <add key="FCKeditor:BasePath" value="~/fckeditor/" />
  <add key="FCKeditor:UserFilesPath" value="/ImgUpload/fckfile/" />
  <add key="Num1GridViewPageCount" value="10" />
  <add key="SQLChar" value="master|exec|insert|xp_cmdshell|exec master|netlocalgroup administrators|net use" />
  <add key="UnionPostUrl" value="http://192.168.1.101/ShopNum1.WebUnion_1/Intergration/" />
  <add key="SourceKey" value="6f9bb59c-62f4-4ea6-9a1a-5cc58896f5f8" />
  <add key="IsIntergrationUnion" value="0" />
  <add key="Domain" value="www.t.com" />
  <add key="Dinpay_page" value="http://bb.qhtj88.com/PayReturn/Dinpay/DinpayToMer_page.aspx" />
  <add key="Dinpay_notify" value="http://bb.qhtj88.com/PayReturn/Dinpay/DinpayToMer_notify.aspx" />
  <add key="Dinpay" value="http://bb.qhtj88.com/PayReturn/Dinpay/MerDinpayUTF_8.aspx?" />
  <add key="CookieDomain" value=".t.com" />
  <add key="DiscuzPostUrl" value="http://bbs.qhtj88.com" />
  <add key="DiscuzApiKey" value="c5df67ba32a43109c9f27a01a1428d55" />
  <add key="DiscuzSecret" value="ab2487717980a5feb8294b74ad9ffa432" />
  <add key="DiscuzCookieDomain" value="t.com" />
  <add key="IsIntegrationDiscuz" value="0" />
  <add key="TgPostUrl" value="http://www.fenxiaotg.com/Intergration/" />
  <add key="TgSourceKey" value="6f9bb59c-62f4-4ea6-9a1a-5cc58896f5f8" />
  <add key="IsIntergrationTg" value="0" />
  <add key="IsConnectionEncrypt" value="0" />
  <add key="IsIntergrationUCenter" value="0" />
  <add key="UC_API" value="http://zx.aixin666.com/uc" />
  <add key="UC_IP" value="42.121.4.173" />
  <add key="UC_KEY" value="aixin666" />
  <add key="UC_CHARSET" value="gbk" />
  <add key="UC_APPID" value="2" />
  <add key="UC_CONNECT" value="mysql" />
  <add key="UC_DBHOST" value="localhost" />
  <add key="UC_DBUSER" value="root" />
  <add key="UC_DBPW" value="root" />
  <add key="UC_DBNAME" value="discuz" />
  <add key="UC_DBCHARSET" value="utf-8" />
  <add key="UC_PPP" value="20" />
  <add key="UC_APPIDUC_DBTABLEPRE" value="`discuz`.pre_ucenter_" />
  <add key="UC_DBCONNECT" value="0" />
  <add key="wap_urlhost" value="http://weixin.t.com/#page/weixin?{0}&amp;{1}&amp;{2}" />
  <add key="KuaiDiApiKey" value="e15fb5acc0bb0797" />
  <add key="return_url" value="/PayReturn/Alipay/return_url.aspx" />
  <add key="notify_url" value="/PayReturn/Alipay/notify_url.aspx" />
  <add key="Alipay2return_url" value="/PayReturn/tenpay/Alipay2return_url.aspx" />
  <add key="Alipay2notify_url" value="/PayReturn/tenpay/Alipay2notify_url.aspx" />
  <add key="Alipay3return_url" value="/PayReturn/tenpay/Alipay3return_url.aspx" />
  <add key="Alipay3notify_url" value="/PayReturn/tenpay/Alipay3notify_url.aspx" />
  <add key="tenpayAppreturn_url" value="/PayReturn/tenpay/tenpayAppreturn_url.aspx" />
  <add key="tenpayAppshow_url" value="/PayReturn/tenpay/tenpayAppshow_url.aspx" />
  <add key="AdminAppKey" value="21686884" />
  <add key="AdminAppSecret" value="16f5d03f9f678495996776d155fb9bd8" />
  <add key="showbank_url" value="/PayReturn/bankonline/BankSend.aspx" />
  <add key="receivebank_url" value="/PayReturn/bankonline/BankReceive.aspx" />
  <add key="showalipay1_url" value="/PayReturn/Alipay/alipay1_show.aspx" />
  <add key="receivealipay1_url" value="/PayReturn/Alipay/alipay1_receive.aspx" />
  <add key="showalipay2_url" value="/PayReturn/Alipay/alipay2_show.aspx" />
  <add key="receivealipay2_url" value="/PayReturn/Alipay/alipay2_receive.aspx" />
  <add key="unionreturn_url" value="/PayReturn/unionpay/unionpay_receive.aspx" />
  <add key="unionshow_url" value="/PayReturn/unionpay/unionpay_show.aspx" />
  <add key="BankReceive" value="/PayReturn/tenpay/BankReceive.aspx" />
  <add key="BankSend" value="/PayReturn/tenpay/BankSend.aspx" />
  <add key="Callback" value="/PayReturn/tenpay/Callback.aspx" />
  <add key="SPReceive" value="/PayReturn/ShengPay/SPReceive.aspx" />
  <add key="SPSend" value="/PayReturn/ShengPay/SPSend.aspx" />
  <add key="HXReceive" value="/PayReturn/HuanXun/HX_Receive.aspx" />
  <add key="HXSend" value="/PayReturn/HuanXun/HX_Show.aspx" />
  <add key="OrderReturn" value="/PayReturn/tenpay/OrderReturn.aspx" />
  <add key="udpayRet" value="/PayReturn/tenpay/udpayRet.aspx" />
  <add key="paygateurl" value="/cgi-bin/med/show_opentrans.cgi" />
  <add key="querygateurl" value="/cgi-bin/med/query_opentrans.cgi" />
  <add key="mch_returl" value="/tenpay/PayReturn/paynotify.aspx" />
  <add key="show_url" value="/tenpay/PayReturn/Tenpayreturn_url.aspx" />
  <add key="abcsearch_url" value="/PayReturn/ABCPay/ABCPay_search.aspx" />
  <add key="abcpayreceive_url" value="/PayReturn/ABCPay/ABCPay_receive.aspx" />
  <add key="abcpayshow_url" value="/PayReturn/ABCPay/ABCPay_show.aspx" />
  <add key="ccb_POSID" value="232669398" />
  <add key="ccb_BRANCHID" value="130000000" />
  <add key="ccb_PublicKey" value="30819c300d06092a864886f70d010101050003818a0030818602818063acdfea6d09d12e1cf81affdae027d8f705e5d3d97d71bcf8bc9a0568d099a02da0da621e2896afa71afad9e8c68b8cb4b9b31a1cae6d283b89b4269714a75d30a43470e34d629a2e4002ca688a3f0d93c8cf1d0c72a4f780286be9f53f474e47840264c5f65770d84dd6511032435c7841ffb62c75f2e3aa49c69f64e7451b020111" />
  <add key="TrustPayConnectMethod" value="https" />
  <add key="TrustPayServerName" value="www.95599.cn" />
  <add key="TrustPayServerPort" value="443" />
  <add key="TrustPayNewLine" value="2" />
  <add key="TrustPayTrxURL" value="/b2c/trustpay/ReceiveMerchantTrxReqServlet" />
  <add key="TrustPayIETrxURL" value="https://www.95599.cn/b2c/trustpay/ReceiveMerchantIERequestServlet" />
  <add key="TrustPayCertFile" value="D:\Payment\abc\TrustPay.cer" />
  <add key="TrustStoreFile" value="D:\Payment\abc\abc.truststore" />
  <add key="TrustStorePassword" value="changeit" />
  <add key="MerchantID" value="213010500304A01" />
  <add key="MerchantErrorURL" value="http://bb.qhtj88.com/Main/Account/A_Index.aspx?toaurl=A_AdPayRecharge.aspx?type=1" />
  <add key="EnableLog" value="true" />
  <add key="MerchantKeyStoreType" value="0" />
  <add key="MerchantCertFile" value="D:\Payment\abc\ABC-B2C.pfx" />
  <add key="MerchantCertPassword" value="zhengtong" />
  <add key="SignServerIP" value="" />
  <add key="SignServerPort" value="" />
  <add key="SignServerPassword" value="" />
  <add key="VersionNumber" value="1.0.0"/>
  <add key="Path" value="8895222"/>
  <add key="VersionNumber2" value="1"/>
  <add key="UpdeModel" value=""/>


  <add key="VersionNumber2An" value="10"/>

</appSettings>