<?xml version="1.0"?>
<connectionStrings>

  <!--<add name="Connection String" connectionString="Data Source=112.124.124.171,1157;Initial Catalog=ShopNum1;User Id=tangjiang_db;Password=Tjl2332l;Connect TimeOut=6000;Persist Security Info=True;" providerName="System.Data.SqlClient" />-->
    <!--<add name="Connection String" connectionString="Data Source=120.27.131.170,1577;Initial Catalog=ShopNum1;User Id=sa;Password=Tjl2332l;Connect TimeOut=6000;Persist Security Info=True;" providerName="System.Data.SqlClient" />-->
  <!--<add name="Connection String" connectionString="Data Source=192.168.1.12;Initial Catalog=KCESevice;User Id=sa;Password=assa;Connect TimeOut=6000;Persist Security Info=True;" providerName="System.Data.SqlClient" />-->
  <!--<add name="Connection String" connectionString="Data Source=47.90.101.1,1433;Initial Catalog=ShopNum1;User Id=sa;Password=Tjl2332l;Connect TimeOut=6000;Persist Security Info=True;" providerName="System.Data.SqlClient" />-->
  <add name="Connection String" connectionString="Data Source=.;Initial Catalog=ShopNum1;User Id=sa;Password=Tjl2332l;Connect TimeOut=6000;Persist Security Info=True;" providerName="System.Data.SqlClient" />

  <!--<add name="Connection String" connectionString="Data Source=112.124.124.17,5999;Initial Catalog=ShopNum1;User Id=tangjiangdb;Password=Tjl2332l;Connect TimeOut=6000;Persist Security Info=True;" providerName="System.Data.SqlClient" />-->
	<add name="ConnectionEncryptString" connectionString="4C3C6A282E231245A2D51AD08C1157093FF25BB130DE646F730F3B4349F0B775D17E906CDA1E34F110CE113218EF1CF66D97FB880F6AC6813F6FEDF18EC01C16BF0F8B2379ACED3A4E8C80262B8365DE64615DB623E4725057EDF6B64A0FD93F5BF2ACF7188BF39717411E8D6C2FCE954B4B2295CC62CE91" providerName="System.Data.SqlClient" />
</connectionStrings> 