<?xml version="1.0"?>
<pages validateRequest="false">
  <controls>
    <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    <!--自定义控件 -->
    <add tagPrefix="ShopNum1" namespace="ShopNum1.WebControl" assembly="ShopNum1.WebControl"/>
    <add tagPrefix="ShopNum1Shop" namespace="ShopNum1.ShopWebControl" assembly="ShopNum1.ShopWebControl"/>
    <!--<add tagPrefix="ShopNum1Shop" namespace="ShopNum1.ShopWebControl" assembly="ShopNum1.ShopMetaWebControl"/>-->
    <add tagPrefix="ShopNum1ShopNew" namespace="ShopNum1.ShopNewWebControl" assembly="ShopNum1.ShopNewWebControl"/>
    <add tagPrefix="ShopNum1ShopAdmin" namespace="ShopNum1.ShopAdminWebControl" assembly="ShopNum1.ShopAdminWebControl"/>
    <add tagPrefix="ShopNum1" namespace="ShopNum1.MemberWebControl" assembly="ShopNum1.MemberWebControl"/>
    <!--<add tagPrefix="ShopNum1" namespace="ShopNum1.WebControl" assembly="ShopNum1.MetaWebControl"/>-->
    <!--<add tagPrefix="ShopNum1" namespace="ShopNum1.WebControl" assembly="ShopNum1.ArticleWebControl"/>-->
    <add tagPrefix="ShopNum1" namespace="ShopNum1.Control" assembly="ShopNum1.Control"/>
    <!--<add tagPrefix="ShopNum1"  namespace="ShopNum1.WebControl" assembly="ShopNum1.OrderWebControl"/>
    <add tagPrefix="ShopNum1"  namespace="ShopNum1.WebControl" assembly="ShopNum1.ExtendWebControl"/>
    <add tagPrefix="ShopNum1"  namespace="ShopNum1.WebControl" assembly="ShopNum1.VideoWebControl"/>-->
    <add tagPrefix="ShopNum1Account"  namespace="ShopNum1.AccountWebControl" assembly="ShopNum1.AccountWebControl"/>
    <!--<add tagPrefix="ShopNum1ShopAdmin" namespace="ShopNum1.ShopAdminWebControl" assembly="ShopNum1.WeiXinWebControl"/>-->
    <!--用户控件-->
    <add tagPrefix="ShopNum1" src="~/Main/Themes/Skin_Default/UserControl/DefaultControl.ascx"  tagName="DefaultControl"/>
    <add tagPrefix="ShopNum1" src="~/Main/Themes/Skin_Default/UserControl/FootControl.ascx"  tagName="FootControl"/>
    <add tagPrefix="ShopNum1" src="~/Main/Themes/Skin_Default/UserControl/LogoControl.ascx"  tagName="LogoControl"/>
    <add tagPrefix="ShopNum1" src="~/Main/Themes/Skin_Default/UserControl/MiddleNavigationControl.ascx"  tagName="MiddleNavigationControl"/>
    <add tagPrefix="ShopNum1" src="~/Main/Themes/Skin_Default/UserControl/NewsListControl.ascx"  tagName="NewsListControl"/>
    <add tagPrefix="ShopNum1" src="~/Main/Themes/Skin_Default/UserControl/ProductCategoryControl.ascx"  tagName="ProductCategoryControl"/>
    <add tagPrefix="ShopNum1" src="~/Main/Themes/Skin_Default/UserControl/ShopShowControl.ascx"  tagName="ShopShowControl"/>
    <add tagPrefix="ShopNum1" src="~/Main/Themes/Skin_Default/UserControl/TopSearchControl.ascx"  tagName="TopSearchControl"/>
    <add tagPrefix="ShopNum1" src="~/Main/Themes/Skin_Default/UserControl/WelcomeControl.ascx"  tagName="WelcomeControl"/>
    <add tagPrefix="ShopNum1" src="~/Main/Themes/Skin_Default/UserControl/BrandMoreSearchControl.ascx"  tagName="BrandMoreSearchControl"/>
    <add tagPrefix="ShopNum1" src="~/Main/Themes/Skin_Default/UserControl/CategoryShowControl.ascx"  tagName="CategoryShowControl"/>
    <add tagPrefix="ShopNum1" src="~/Main/Themes/Skin_Default/UserControl/SupplyDemandShowControl.ascx"  tagName="SupplyDemandShowControl"/>
    <add tagPrefix="ShopNum1" src="~/Main/Themes/Skin_Default/UserControl/ProductShowControl.ascx"  tagName="ProductShowControl"/>
    <add tagPrefix="ShopNum1" src="~/Main/Themes/Skin_Default/UserControl/CouponsListControl.ascx"  tagName="CouponsListControl"/>
    <add tagPrefix="ShopNum1" src="~/Main/Themes/Skin_Default/UserControl/ProductCategoryControl.ascx"  tagName="ProductCategoryControl"/>
    <add tagPrefix="ShopNum1" src="~/Main/Themes/Skin_Default/UserControl/ShopCategoryControl.ascx"  tagName="ShopCategoryControl"/>
    <add tagPrefix="ShopNum1" src="~/Main/Themes/Skin_Default/UserControl/AriticleCategoryControl.ascx"  tagName="AriticleCategoryControl"/>
    <add tagPrefix="ShopNum1" src="~/Main/Themes/Skin_Default/UserControl/CategoryInfoCategoryControl.ascx"  tagName="CategoryInfoCategoryControl"/>
    <add tagPrefix="ShopNum1" src="~/Main/Themes/Skin_Default/UserControl/SupplyDemandCategoryControl.ascx"  tagName="SupplyDemandCategoryControl"/>
    <add tagPrefix="ShopNum1" src="~/Main/Themes/Skin_Default/UserControl/HelpListButtomControl.ascx"  tagName="HelpListButtomControl"/>
    <add tagPrefix="ShopNum1" src="~/Main/Themes/Skin_Default/UserControl/Boutique.ascx"  tagName="Boutique"/>
  </controls>
</pages>